	.body{
			width:1000px;
			margin:0px 200px;
                  
		}
		.header{
			height:30px;
            width:100%;
            background-color: #333;

		}
            .nav a:hover{color:#e8420a;}
		.li{
			display:inline;
			text-decoration:none;
			float:right;
			color:#fff;
			margin: 5px 10px;
		}
		.tel3{
			float:right;
			margin:5px 0;
			font-size: 17px;
			color:#fff;
			margin-right:30px;
		}
		.nav{
			height: 50px;
			width:100%;
			background-color: #fff;
                  border-bottom: 0.5px solid gray;
		}
		.logo{
			margin:10px 0px;
			margin-left: 30px;
		}
		a{
			
			display: inline;
			font-size: 20px;
			text-decoration:none;
			color:gray;
		}
            .rigthlist{
        height: 350px;
        width:28px;
        float:right;
        margin:20px 0px;
        

     } 
     .listright1 {
        height: 28px;
        width: 100%;
        margin: 3px 0px;
        background-color: #1c5080;
        
     } 
     .listright2{
        height:120px;
        width:100%;
        margin: 3px 0px;
        background-color: #e8420a;
     }
    .listright3{
        height: 34px;
        width: 28px;
        margin: 0px 0px;
    }
    .listright2  p{
        color: #fff;
        font-size: 10px;
        text-align: center;
        margin: 0px 0px;
    }
		.list{
			float:right;
			margin:10px 0px;
		    margin-right:-220px;
			padding: 0px 0px;
		}
		.listright{
			float:right;
			background-color: #105080;
			margin: 10px 10px;
			border-radius: 5px;
		}
       .list1{
       	height:252px;
       	width:800px;
       	margin:20px auto;
       }
       .text
       {
       	float:right;
       	height: 100%;
       	width:458px;
       }
       .text p{
       	color:#989898;
       	font-size: 11px;
       	margin: 0px  0px;
       	margin-left: 20px;
       }
       h3{
       	margin:0px 0px;
       	margin-left: 20px;
       }
       .btn{
       	float:right;
       	width:110px;
       	height: 30px;
       	background-color: blue;
       	margin:20px 0px 0px 0px;
       	border-radius: 10px;
       	background-color: #e8420a;
       }
       .btn a{
       	color:#fff;
       	font-size: 15px;
       	margin: 0px 25px;
       	margin-top: 15px;
       }
       
      .cost
      {
      	float:right;
      	height: 35px;
      	width:120px;
        margin-top: 15px;
      }
      .footer{
      	width: 100%;
      	height: 260px;
      	background-color: #000;
      	margin-top: 25px;
      }
      .footlist1{
      	width:90px;
      	height: 200px;
      	margin: 30px 0px 0px 0px;
      	margin-left: 50px;
      	
      	
      	float: left;
      	
      	}
      	.footlist2{
      		float: right;
      		width:290px;
      		height: 200px;
      		margin: 30px 0px 0px 0px;
      		margin-right: 20px;
      		      	}
      	.footlist3{
      		float: right;
      		width: 260px;
      		height: 200px;
      		margin: 30px 0px 0px 0px;
      		margin-right: 10px;
      		
      	}
      	.footlist4{
      		float: right;
      		width:90px;
      		height: 200px;
      		
      		margin: 30px 0px 0px 0px;
      		margin-right:42px;
      	}
      	.footlist5{
      		float: right;
      		width:90px;
      		height: 200px;
      		margin: 30px 0px 0px 0px;
      		margin-right: 42px;
      	}
      	.footer p {
      		color:#fff;
      		font-size:17px;
      	}
      	.footer ul li {
      		list-style:  none;
      		margin: 0px 0px;
      	}
      	.footer ul li a{
      		color: #fff;
      		font-size: 13px;
      		margin: 0px -40px;
      	}
       .footlist2 img{
       	margin-top:17px; 
       }
       .tel
       {
       	float: right;
       	height:100%;
       	width:238px;
       	margin:0px 0px;
       }
       .tel p {
       	font-size: 21px;
       	margin: 10px 0px;
       }
       .tel1{
       	width:90px;
        height:90px;
        float: left;
       
       }
       .tel2{
       	width:147px;
       	height:90px;
       	
       	float: right;
       }
       